.footer {
    background-color: var(--main-color);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    height: 50px; 
    padding: 10px 0; /* Padding thêm 20px */
}

.home-wrapper {
    width: 90%;
    margin: auto;
    padding-bottom: 50px; 
}