.menu{
  display: flex;
  background-color:var(--main-color);
  padding: 10px 40px;
}
.menu ul {
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 100%;  
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 24px;
  
}
.menu ul li a{
  color:white;
  text-decoration: none;

}
.menu ul li a:hover{
  color:yellow;
}